<div class="card my-4">
  <h5 class="card-header">Categorías</h5>
  <div class="card-body">
    <div class="row">
      <% @categories.each do |category| %>
      <div class="col-lg-6">
        <ul class="list-unstyled mb-0">
          <li>
            <%= link_to category.name, category %>
          </li>
        </ul>
      </div>
      <%end%>
    </div>
  </div>
</div>
