<div class="card my-4">
  <h5 class="card-header">Blog</h5>
  <div class="card-body">
    En este blog podrás encontrar información sobre tecnología, programación, mundo geek, y cosas random!
    <br><br>
    Enjoy!
  </div>
</div>
