<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <img class="d-flex mr-3 rounded-circle" src="https://i.imgur.com/lOVRLqH.png" width="200px" height="200px" style="padding: 20px;">
    <div class="my-auto">
      <h1 class="mb-0">Matías
        <span class="text-primary">Daza Alvarado</span>
      </h1>
      <div class="subheading mb-5">Puedes escribirme a:
        <a href="mailto:matiasdazaa@gmail.com">matiasdazaa@gmail.com</a>
      </div>
      <p class="mb-5">Estudiante de último año de Licenciatura en Ciencia de la Computación en la Universidad de Santiago de Chile,
        actualmente tengo el grado de Licenciado en Ciencia de la computación con 4 años trabajando en los
        lenguajes de programación C/C++, realizando diversos proyectos. Durante este tiempo
      además se han desarrollado competencias en Ruby on Rails, PHP, MySql, PL/SQL y Web design.</p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://twitter.com/Aqua_matt">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/matiasdazaa/">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/matiasdaza">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="tell-me-more">
          <input type="button" value="Saber más" onclick="mostrar()" class="btn btn-primary">
        </li>
      </ul>

    </div>
  </section>

  <div ><!-- id='oculto' style='display:none;'-->
    <section class="resume-section p-3 pl-5 pr-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="my-sm-5">Experiencia</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Marketing Automation Engineer - Intern</h3>
            <div class="subheading mb-3">GroupRaise</div>
            <p>
              Apoyando al equipo de Marketing en Chile y trabajando de manera
              remota con el equipo de Houston (USA), realizando diferentes tareas,
              desde landing pages hasta mailers con el framework Ruby on Rails.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Septiembre 2017 - Actualidad</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Desarrollador de software</h3>
            <div class="subheading mb-3">Supermercado Lider (Empaques)</div>
            <p>Encargado de la realización del software “Súper Empaque” para el ramo de Desarrollo de Software I.
              Realizando desde el análisis hasta la implementación. En conjunto con el cliente se desarrolló una
              aplicación web realizada en PHP para gestionar al personal de empaque, controlando sus faltas para tener
              conocimiento de quienes podían tomar turnos.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Marzo 2017 - Junio 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ayudante Cálculo II</h3>
            <div class="subheading mb-3">Universidad de Santiago de Chile</div>
            <p>Realizando clases de ayudantía a alumnos de primer año de la carrera Licenciatura en Ciencia de la Computación.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Marzo 2016 - Junio 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ayudante Cálculo I</h3>
            <div class="subheading mb-3">Universidad de Santiago de Chile</div>
            <p>Realizando clases de ayudantía a alumnos de primer año de la carrera Licenciatura en Ciencia de la Computación.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Julio 2016 - Diciembre 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Ayudante Computación I</h3>
            <div class="subheading mb-3">Universidad de Santiago de Chile</div>
            <p>Realizando clases de ayudantía a alumnos de primer año de la carrera Licenciatura en Ciencia de la Computación.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Marzo 2016 - Junio 2017</span>
          </div>
        </div>
    </section>

    <hr>

    <section class="resume-section p-3 pl-5 pr-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="my-sm-5">Educación</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Universidad de Santiago de Chile</h3>
            <div class="subheading mb-3">Licenciado en Ciencia de la Computación</div>
            <div>Licenciatura en ciencia de la computación</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2014 - 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Duoc Uc</h3>
            <div class="subheading mb-3">Técnico de nivel superior en instrumentación y automatización industrial</div>
            <div>Técnico en instrumentación y automatización industrial</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2010 - 2012</span>
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section class="resume-section p-3 pl-5 pr-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="my-sm-5">Skills</h2>

        <div class="subheading mb-3">Lenguajes de programación &amp; Herramientas: </div><br>

        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicon-rails-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-ruby-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
             <i class="devicon-cplusplus-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
             <i class="devicon-c-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-mysql-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-oracle-original"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-github-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-html5-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-css3-plain-wordmark"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-php-plain"></i>
          </li>
        </ul><br>

        <div class="subheading mb-3"></div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa fa-code" style="font-size:24px"></i>
            Desarrollo web, Responsive Design</li>
          <li>
            <i class="fa fa-code" style="font-size:24px"></i>
            Desarrollo de software</li>
          <li>
            <i class="fa fa-code" style="font-size:24px"></i>
            Manejo de base de datos</li>
          <li>
            <i class="fa fa-code" style="font-size:24px"></i>
            Desarrollo ágil &amp; XP - Scrum</li>
        </ul>
      </div>
    </section>

    <hr>

    <section class="resume-section p-3 pl-5 pr-5 d-flex flex-column" id="interests">
      <div class="my-auto">
        <h2 class="my-sm-5">Intereses</h2>
        <div class="subheading mb-3"></div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Dictar charlas sobre programación</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Realizar contenido audiovisual</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Tocar música</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Jugar baby fútbol/futbolito</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Entrenar waterpolo con mi equipo</li>
        </ul>
      </div>
        </div>
    </section>

    <hr>

    <section class="resume-section p-3 pl-5 pr-5 d-flex flex-column" id="awards">
      <div class="my-auto">
        <h2 class="my-sm-5">Logros &amp; Certificados</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Licenciado en Ciencia de la Computación - Usach</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            HTML &amp; CSS - CodeAcademy.com</li>
        </ul>
      </div>
    </section>
  </div>
  </div>
</div>

<!-- Script para mostar las secciones ocultas -->

<script type="text/javascript">
function mostrar(){
document.getElementById('oculto').style.display = 'block';}
</script>
