<div class="Principal">
  <div class="container text-center">

    <h1 class="tittle">>Hello world</h1><br>
    <p class="paragraph">Developer in @groupraise and<br> student of Computer Science in Universidad
      de Santiago de Chile - Usach.</p>
  </div>
</div>
