.btn{
  background-color: #007BFF;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  width: auto;
}

.be-red{
  background-color: #333;//#5D4970;
}

.white{
  color: white !important;
}

#logo{
  font-size: 1.2em;
}

.no-margin{
  margin: 0px;
}

.large-padding{
  padding: 10px 7px;
}

.field{
  margin-top: 1em;
}

.form-control{
  box-sizing: border-box;
  margin: 1%;
  outline: none;
  width: 80%;
  height: auto;
  display: block;
  padding: 10px;
  font-size: 15px;
}


.articles{
  color: #59535E;
  border: 1px solid;
  border-color: #59535E;
  border-radius: 10px;
  box-sizing: border-box;
  float:left;
  width: 20%;
  height: 250px;
  margin: 1%;
  margin-top: 2%;
  padding: 15px;
}

.errors{
  color: #59535E;
  border: 1px solid;
  border-color: #59535E;
  border-radius: 10px;
  box-sizing: border-box;
  float:left;
  font-size: 0.4em;
  width: auto;
  height: auto;
  margin: 1%;
  padding: 10px;
}

.box{
  padding: 20px;
}

.autor{
  font-size: 2rem;
  color: #007bff;
}

.home{
  font-size: 2rem;
}
